/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

.header{
    height: 197.7px;
    position: relative;
}



.header__banner{
    height: auto;
    background-color: #b376ff;
}

/* Header nav */
.header__nav{
    
    color: #9e9e9e;
    background-color:#f7f7f7 ;
    height: 28px;
    position: relative;
}

.header-content{
    z-index: 999;
}

.header__nav-list{
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 0 8px 40px;
}

.header__nav-item{
    line-height: 16px;
}

.header__nav-item-link:hover,
.header__nav-item:hover{
    color: #f36d00;
}

.header__nav-item-link{
    text-decoration: none;
    color: #9e9e9e;
}

.header__nav-item-btn{
    cursor: pointer;
}

.highlight{
    color:var(--black-color);
}

.header__download-container{
    position: relative;
}

.header__download{
    padding: 20px;
    position: absolute;
    top: 28px;
    left: -60%;
    z-index: 1;
    background-color: var(--white-color);
    border: solid 1px #bfbfbf;
    display: none;
    animation: fadeIn ease 0.2s;
    
}

.header__download.open{
    display: block;
}

.header__download::before{
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}


.header__download-heading{
    color: var(--black-color);
    margin-bottom: 20px ;
    font-weight: 500;
    font-size: 16px;
}

.header__download-body{
    display: flex;
}


.header__download-benefits{
    max-width: 180px;
    margin-left: 12px;
    font-size: 14px;
    
}

.header__download-benefits-link{
    text-decoration: none;
    color: #199cb7;
}

.header__download-benefits-link p{
    margin-bottom: 10px;
}

.header__download-benefits-list{
    padding: 0;
    margin-left: 5px;
}

.header__download-benefits-item{
    color: #199cb7;
}

.header__download-input-box{
    position: relative;
}

.header__download-stores{
    display: flex;
    justify-content: center;
}

.header__download-appstore{
    margin-right: 20px;
}

.header__download-appstore-img{
    border-radius: 2px;
}



.header__download-googleplay-img{
    border-radius: 3px;
}   


.header__download-input{
    width: 320px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #eff0f5;
    font-size: 14px;
    padding-left: 15px;
    margin: 24px 0;
    border-top: solid 4px #dfdfdf;
}

.header__download-input-btn{
    height: 45px;
    width: 40px;
    position: absolute;
    top: 24px;
    right: 0;
    border: none;
    background-color: #f57224;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
}

.header__customerCare-container{
    position: relative;
}

.header__customerCare{
    position: absolute;
    width: 232px;
    z-index: 1;
    top: 28px;
    left: -34%;
    background-color: var(--white-color);
    border: solid 1px #bfbfbf;
    padding: 0 24px 24px 24px;
    display: none;
    animation: fadeIn ease 0.2s;
}

.header__customerCare.open{
    display: block;
}

.header__customerCare::before{
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}

.header__customerCare-list{
    list-style: none;
    padding: 0;
}

.header__customerCare-item{
    margin-top: 20px;
}

.header__customerCare-item-icon{
    font-size: 18px;
}

.header__customerCare-item-link{
    text-decoration: none;
    color: #666;
    font-size: 14px;
    display: flex;
}

.header__customerCare-item-link:hover{
    color: #f36d00;
    text-decoration: underline;
}

.header__customerCare-item-content{
    margin-left: 13px;
}

#header__customerCare-item-content-3,
#header__customerCare-item-content-4{
    margin-left: 8px;
}

.header__checkOrder-container{
    position: relative;
}

.header__checkOrder{
    background-color:var(--white-color);
    position: absolute;
    width: 262px;
    top: 28px;
    left: -62%;
    z-index: 1;
    top: 28px;
    border: solid 1px #bfbfbf;
    color: #646464;
    padding: 20px;
    max-width: 262px;
    display: none;
}

.header__checkOrder.open{
    display: block;
}

.header__checkOrder::before{
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}

.header__checkOrder-heading{
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.header__checkOrder-input-container{
    
}

.header__checkOrder-input-email{

}



.header__checkOrder-input-codeOrder{
    margin-top: 15px;
    position: relative;
}

.header__checkOrder-input-email-require,
.header__checkOrder-input-codeOrder-require{
    font-size: 13px;
}

.header__checkOrder-input-email-field,
.header__checkOrder-input-codeOrder-field{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-top: solid 4px #dfdfdf;
    background-color: #f0f0f0;
    height: 38px;
}

.header__checkOrder-input-codeOrder-submit{
    position: absolute;
    padding: 8px;
    background-color: #f36f36;
    color: var(--white-color);
    width: 28px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
}



.header__checkOrder-footer{
    margin-top: 15px;
}

.header__checkOrder-footer-link{
    text-decoration: none;
    color: #19a8d0;
}

.header__checkOrder-footer-link:hover{
    text-decoration: underline;
}

.header__changeLanguage-container{
    position: relative;
}

.header__changeLanguage{
    position: absolute;
    top: 28px;
    right: 0;
    background-color: var(--white-color);
    border: solid 1px #bfbfbf;
    z-index: 1;
    color: #9ea0b4;
    display: none;
}

.header__changeLanguage.open{
    display: block;
}

.header__changeLanguage::before{
    right:  2%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}

.header__changeLanguage-list{
    display: flex;
    padding: 12px;

}

.header__changeLanguage-item{
    display: flex;
    margin-left: 4px;
    cursor: pointer;
}

.header__changeLanguage-item-flag{
    
}

.header__changeLanguage-item-flag-img{
    width: 34px;
    height: 32px;
    border-radius: 50%;
    padding: 1px;
    border: solid 1px #bfbfbf;
}

.header__changeLanguage-item-name{
    margin-left: 4px;
}

.disbaled {
    color: #222;
}


/* Header search */

.header__search-wrapper{
    background-color: var(--white-color);
    
}

.header__search-container{
    height: 87px;
    display: flex;
    padding-top: 10px;
    position: relative;
    background-color: var(--white-color);
    
}

.header__search-logo{
    width: 200px;
}

.header__search-logo-link{

}

.header__search-logo-link-img{
    width: 127px;
    height: 40px;
}


.header__search-input-box{
    position: relative;
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input{
    width: 688px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #eff0f5;
    font-size: 14px;
    padding-left: 15px;
}

.header__search-input-btn{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #f57224;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
}



/* Search history */
.header__search-history{
    position: absolute;
    top: 100% ;
    left: 0;
    width: 100% ;
    background-color: var(--white-color);
    box-shadow: 2px 4px #e8e8e8;
    padding: 10px;
    display: none;
}

.header__search-history.open{
    display: block;
}



.header__search-history-heading{
    color: #808080;
    margin: 0;
    font-size: 16px;
    padding: 16px;
    padding-bottom: 8px;
}

.header__search-history-list{
    list-style: none;
    margin-left: 16px;
    padding: 0;
}

.header__search-history-item{
    margin-bottom: 10px;
}

.header__search-history-item :hover{
    color: #f57224;
}

.header__search-history-item a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
}


.header__search-cart{
    margin: 10px 30px 0;
}

.header__search-cart-link{
    font-size: 26px;
}

.header__search-ewallet{
    margin-left:23px ;
}


.header__search-ewallet-link-img{
    width: 188px;
    height: 45px;
}




/* Main */
.main{
    height: 2500px;
    background-color: #f5f5f5;
    position: relative;
}

.slide-show{
    position: relative;
}

.slider-item{

}

.slider-item-img{
    width: 988px;
    height: 344px;
    margin-left: 200px;
}

.side-bar-menu{
    position: absolute;
    top: 0;
    background-color: var(--white-color);
    width: 200px;
    height: 347px;
}

.side-bar-menu__list{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-bar-menu__item{
    position: relative;
    font-size: 13px;
    line-height: 13px;
    padding: 8px;
    color: #757575;
}

.side-bar-menu__item:hover{
    color: #f57224;
    background-color: #e7e8ec;
}



.side-bar-menu__item .side-bar-menu__item-chevron {
    position: absolute;
    right: 4px;
    display: none;
}

.side-bar-menu__item:hover .side-bar-menu__item-chevron {
    display:inline-block;
}

.side-bar-menu-subList{
    display: none;
    width: 200px;
    height: 347px;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    right: -200px;
    list-style: none;
    border: solid 1px #c2c0c0;
    padding: 0;
}

.electric-device-list{
    top: 0;
}

.electric-accessory-list{
    top: -29px;
}

.tv-household-device-list{
    top: -58px;
}

.health-beautify-list{
    top: -87px;
}

.mom-baby-toy-list{
    top: -116px;
}

.grocery-supermarket-list{
    top: -145px;
}

.household-lifestyle-goods-list{
    top: -174px;
}

.women-fashion-accessory-list{
    top: -203px;
}

.men-fashion-accessory-list{
    top: -232px;
}

.kid-fashion-accessory-list{
    top: -261px;
}

.sport-tourism-list{
    top: -290px;
}


.car-motorcycle-list{
    top: -319px;
}

#electric-device:hover .electric-device-list{
    display: block;
}

.side-bar-menu__item:hover .side-bar-menu-subList{
    display: block;
}

.side-bar-menu-subItem{
    font-size: 13px;
    line-height: 13px;
    padding: 8px;
    color: #757575;
}

.side-bar-menu-subItem:hover{
    color: #f57224;
    background-color: #e7e8ec;
}

.side-bar-menu-subItem:hover a{
    color: #f57224;
}




.side-bar-menu-subItem-link{
    text-decoration: none;
    color: #757575;
}

.side-bar-menu-subItem i {
    position: absolute;
    right: 4px;
    display: none;
}

.side-bar-menu-subItem:hover i {
    display:inline-block;
}

.dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
}

.dot {
    
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: var(--white-color);
  }

  .content-wrapper{
    background-color: #f5f5f5;
    height: 500px;
  }

  .card-channel-container{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    
  }

  .card-channel-item{
    background-color: var(--white-color);
    width: 288px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.card-channel-item:hover{
    box-shadow: 2px 4px #d8d8d8;
}

.card-channel-item-img{
    width: 32px;
    height: 32px;
    margin: 4px;
}

.card-channel-item-link{
    font-size: 18px;
    text-decoration: none;
    color: var(--black-color);
    margin-left: 4px;
}

.quick-deal__heading{
    font-size: 22px;
    font-weight: 400;
}

.quick-deal-state-container{
    width: 100%;
    background-color: var(--white-color);
    display: inline-block;
    height: 60px;
    align-items: center;
}

.quick-deal-state__status{
    font-size: 14px;
    color: #f57224;
    display: inline-block;
    margin-left: 20px;
    line-height: 60px;
}

.quick-deal-state__left-timer{
    font-size: 14px;
    margin-left: 60px;
    line-height: 60px;
    display: inline-block;
}

.quick-deal-state__left-timer-hours{
    margin-left: 30px;
}

.quick-deal-state__left-timer-minutes{

}

.quick-deal-state__left-timer-seconds{

}

.quick-deal-state__left-timer-hours,
.quick-deal-state__left-timer-minutes,
.quick-deal-state__left-timer-seconds{
    padding: 12px 16px;
    font-weight: 500;
    color: var(--white-color);
    background-color:#d3232a ;
}

.quick-deal-state__buy-all-product{
    float: right;
    margin-right: 20px;
    border: solid 1px #f57224;
    
    
}

.quick-deal-state__buy-all-product-link{
    line-height: 60px;
    color: #f57224;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 14px;
}

.quick-deal-product{
    background-color: var(--white-color);
    margin-top: 18px;
}



.quick-deal-product__item{
    color: var(--black-color);
    text-decoration: none;
    background-color: var(--white-color);
    display: block;
    padding-bottom: 30px;
    margin-right: 3px;
    margin-left: 3px;
}

.quick-deal-product__item:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.quick-deal-product__item-img{
    width: 188px;
    height: 188px;
    
}

.quick-deal-product__item-name{
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
}

.quick-deal-product__item-current-price{
    display: block;
    font-size: 18px;
    color: #f57224;
    margin-top: 8px;
}

.quick-deal-product__item-old-price{
    font-size: 13px;
    text-decoration: line-through;
    color: #a5a4a4;
}

.quick-deal-product__item-discount-percent{
    font-size: 13px;
    margin-left: 8px;
}

.quick-deal-product__item-name,
.quick-deal-product__item-current-price,
.quick-deal-product__item-old-price{
    margin-left: 8px;
}

.brand-container{
    
    margin-top: 16px;
}

.brand__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__header-heading{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.brand__header-see-more{
    font-size: 16px;
    color: #1a9cc5;
    text-decoration: none;

}

.brand__list{
    margin-top: 10px;
}

.brand__item{
    color: var(--black-color);
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: var(--white-color);
    display: block;
    width: 188px;
    margin: 0 4px;
}

.brand__item:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    
}

.brand__item-img{
    width: 188px;
    height: 188px;
}

.brand__item-logo{
    width: 50px;
    height: 50px;
    padding: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    background-color: var(--white-color);
    position: absolute;
    bottom: 62px;
    left: 78px;
    z-index: 1;
}

.brand__item-overlay{
    width: 188px;
    height: 36px;
    top: 152px;
    left: 0;
    position: absolute;
    opacity: 0.25;
    background: rgba(0,0,0,.04);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    /* background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%); */
}


.brand__item-name{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
}

.brand__item-description{
    font-size: 12px;
    color: #9e9e9e;
    margin: 0;
    padding-bottom: 8px;
}

.category-container{

}

.category__heading{
    font-size: 22px;
    font-weight: 400;
}


.category__list{

}

.category__item{
    background-color: var(--white-color);
    display: block;
    padding: 10px 0;
    text-align: center;
    border: solid 1px #e2e2e2;
    
}

.category__item:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.category__item-img{
    width: 80px;
    height: 80px;
}

.category__item-name{
    display: block;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
}

/* Home product */

.home-product{
    
    margin-top: 18px;
}

.home-product__heading{
    background-color:#f5f5f5 ;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-top: 28px;
    padding-bottom: 14px;
    
}


.home-product__item{
    color: var(--black-color);
    text-decoration: none;
    background-color: var(--white-color);
    display: block;
    padding-bottom: 15px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 10px;
}

.home-product__item:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.home-product__item-img{
    width: 188px;
    height: 188px;
    
}

.home-product__item-name{
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
}

.home-product__item-current-price{
    display: block;
    font-size: 18px;
    color: #f57224;
    margin-top: 8px;
}

.home-product__item-old-price{
    font-size: 13px;
    text-decoration: line-through;
    color: #a5a4a4;
}

.home-product__item-discount-percent{
    font-size: 13px;
    margin-left: 8px;
}

.home-product__item-name,
.home-product__item-current-price,
.home-product__item-old-price{
    margin-left: 8px;
}

.home-product__footer{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-top: 14px;
}

.home-product__footer-rating-container{
    display: flex;
}

.home-product__footer-rating-icon{
    color: #faca51;
}

.home-product-item__star--gold{

}

.home-product__footer-rating-counter{
    margin-left: 4px;
    font-size: 12px;
}

.home-product__footer-location{
    margin-right: 8px;
    font-size: 14px;
}

.home-product__add-more-btn{
    margin: 0 auto;
    width: 387px;
    color:#1a9cb8 ;
    border: solid 1px #1a9cb8;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    padding: 10px 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* card bottom */
.card-bottom-container{
    padding-top: 30px;
    border-top: solid 1px #e2e2e2;
}

.card-bottom_item-img{
    width: 388px;
    height: 97px;
    margin-left: 6px;
}

/* footer */

.footer{
    height: 1500px;
}

.footer__information{
    
}

.footer__information-contact{

}

.footer__information-contact-heading{
    font-size: 16px;
    font-weight: 400;
    color: #0f136d;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer__information-contact-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__information-contact-item{
    margin-top: 6px;
}

.footer__information-contact-item-link{
    font-size: 12px;
    text-decoration: none;
    color: #0f136d;
    font-size: 12px;
}

.footer__information-download{

}
.footer__information-download-slogan-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.footer__information-download-slogan-img{

}
.footer__information-download-slogan{
    margin-left: 10px;
}
.footer__information-download-slogan-text{
    font-size: 16px;
    color: #f57224;
    
}
.footer__information-download-slogan-require{
    font-size: 14px;
    margin: 0;
}
.footer__information-download-app{
    margin-top: 20px;
}

.footer__information-text{
    font-size: 12px;
    margin: 0;
    margin-top: 50px;
    margin-left: 16px;
}

/* footer second */

.footer-second{

}

.footer__charge-method-heading{
    font-size: 18px;
    font-weight: 400;
}

.footer__charge-method-container{

}

.footer__charge-method-img{
    margin: 0 25px 10px 0;
}

.footer__delivery-heading{
    font-size: 18px;
    font-weight: 400;
}

.footer__delivery-container{

}

.footer__delivery-img{
    margin: 0 25px 10px 0;
}

.footer__certificate-heading{
    font-size: 18px;
    font-weight: 400;
}

.footer__certificate-container{
    position: relative;
}

/* .footer__certificate-img{
    margin: 0 25px 10px 0;
} */

.footer__certificate-img-1{
    width: 92px;
    height: 60px;
    display: block;
}

.footer__certificate-img-2{
    width: 105px;
    height: 40px;
}

.footer__certificate-img-3{
    width: 80px;
    height: 80px;
    display: block;
}

.footer__certificate-img-5{
    width: 80px;
    height: 42px;
}
.bo-cong-thuong{
    position: absolute;
    left: 100px;
}

.footer-third{

}

.footer-third__heading{
    font-size: 16px;
    color: #606060;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}

.footer-third__text{
    color: #888888;
    font-size: 12px;
    padding-right: 68px;
    margin: 0;
}

.footer-third__sub-heading{
    font-size: 12px;
    color: #606060;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px;
    margin-top: 12px;
}

/* footer fourth */

.footer-fourth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer__national{

}

.footer-fourth-heading{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.footer__national-flag{

}

.footer__national-flag-img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.footer__social{

}

.footer-fourth-heading{

}

.footer__social-logo{

}

.footer__social-logo-img{

}

.footer__copyright{

}

.footer__copyright-text{
    font-size: 14px;
}   


